header {
	background: url("../images/background-menu.jpg") no-repeat;
	background-position: center left;
	background-size: cover;
	width: 100vw;
	min-width: 300px;
	height: 25vh;
	min-height: 200px;
	margin-bottom: 20px;
	ul{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		height: 100%;
		li {
			width: 8rem;
			position: relative;
			top: 15px;
			height: 2rem;
			margin-bottom: 12px;
			.link {
				font-size: 0.8rem;
				text-decoration: none;
				font-family: $menuFont;
				font-weight: bolder;
				color: black;
				&:hover {
					color: $activeColor;
				}
			}
			.active_link {
				color: $activeColor;
			}

			.sign__link--rectangle{
				width: 4rem;
				height: 2.4rem;
				background-color: $menuColor;
				position: absolute;
				padding-left: 5px;
			}
			.sign__link--triangle{
				border-top: 1.2rem solid transparent;
				border-bottom: 1.2rem solid transparent;
				position: absolute;
				border-left: 2rem solid $menuColor;
				left: 4rem;
			}
		}
	}
}


@media only screen and (min-width: 481px) and (max-width: 1200px) {
	header {
		height: 30vh;
		ul {
			flex-direction: row;
			li {
				width: 9rem;
				height: 5rem;
				.link {
					font-size: 1.2rem;
				}

				.sign__link--rectangle {
					width: 5.5rem;
					height: 3.6rem;
				}
				.sign__link--triangle {
					border-top: 1.8rem solid transparent;
					border-bottom: 1.8rem solid transparent;
					border-left: 2.5rem solid $menuColor;
					left: 5.5rem;
				}
			}
		}
	}

}


@media only screen and (min-width: 1201px){
	header {
		height: 34vh;
		ul {
			flex-direction: row;
			li {
				width: 13rem;
				height: 5rem;
				.link {
					font-size: 1.4rem;
				}
				.sign__link--rectangle {
					width: 7rem;
					height: 5rem;
				}
				.sign__link--triangle {
					border-top: 2.5rem solid transparent;
					border-bottom: 2.5rem solid transparent;
					border-left: 3rem solid $menuColor;
					left: 7rem;
				}
			}
		}
	}

}