@charset "UTF-8";
@font-face {
  font-family: 'Lato';
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Indie Flower';
  src: local("Indie Flower"), local("IndieFlower"), url("../fonts/IndieFlower.woff2") format("woff2"), url("../fonts/IndieFlower.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

header {
  background: url("../images/background-menu.jpg") no-repeat;
  background-position: center left;
  background-size: cover;
  width: 100vw;
  height: 25vh;
  margin-bottom: 20px; }
  header ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    height: 100%; }
    header ul li {
      width: 8rem;
      position: relative;
      top: 15px;
      height: 2rem;
      margin-bottom: 12px; }
      header ul li .link {
        font-size: 0.8rem;
        text-decoration: none;
        font-family: "Indie Flower", cursive;
        font-weight: bolder;
        color: black; }
        header ul li .link:hover {
          color: #a8bf23; }
      header ul li .active_link {
        color: #a8bf23; }
      header ul li .sign__link--rectangle {
        width: 4rem;
        height: 2.4rem;
        background-color: #e3e6ec;
        position: absolute;
        padding-left: 5px; }
      header ul li .sign__link--triangle {
        border-top: 1.2rem solid transparent;
        border-bottom: 1.2rem solid transparent;
        position: absolute;
        border-left: 2rem solid #e3e6ec;
        left: 4rem; }

@media only screen and (min-width: 481px) and (max-width: 1200px) {
  header {
    height: 30vh; }
    header ul {
      flex-direction: row; }
      header ul li {
        width: 9rem;
        height: 5rem; }
        header ul li .link {
          font-size: 1.2rem; }
        header ul li .sign__link--rectangle {
          width: 5.5rem;
          height: 3.6rem; }
        header ul li .sign__link--triangle {
          border-top: 1.8rem solid transparent;
          border-bottom: 1.8rem solid transparent;
          border-left: 2.5rem solid #e3e6ec;
          left: 5.5rem; } }

@media only screen and (min-width: 1201px) {
  header {
    height: 34vh; }
    header ul {
      flex-direction: row; }
      header ul li {
        width: 13rem;
        height: 5rem; }
        header ul li .link {
          font-size: 1.4rem; }
        header ul li .sign__link--rectangle {
          width: 7rem;
          height: 5rem; }
        header ul li .sign__link--triangle {
          border-top: 2.5rem solid transparent;
          border-bottom: 2.5rem solid transparent;
          border-left: 3rem solid #e3e6ec;
          left: 7rem; } }

.map_container .map .mount_icon_inactive, .map_container .map .mount_icon_active, .map_container .map .mount_icon_gained, .map_container .map .mount_icon_gained_active {
  position: relative;
  left: -16px;
  top: -16px;
  cursor: pointer;
  width: 32px;
  height: 32px; }

.search {
  width: 60%;
  margin-bottom: 2rem; }

.map_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px; }
  .map_container .map {
    height: 50vh;
    width: 100%;
    margin-bottom: 15px;
    /*na razie tooltip pojawia się tylko na ekranach powyżej 1200px w zakładce z mapą*/ }
    .map_container .map .mount_icon_inactive {
      background-image: url("../images/mountain-red.png"); }
      .map_container .map .mount_icon_inactive:hover {
        background-image: url("../images/mountain-green.png"); }
    .map_container .map .mount_icon_active {
      background-image: url("../images/mountain-green.png"); }
    .map_container .map .mount_icon_gained {
      background-image: url("../images/peak-blue.png"); }
      .map_container .map .mount_icon_gained:hover {
        background-image: url("../images/peak-green.png"); }
    .map_container .map .mount_icon_gained_active {
      background-image: url("../images/peak-green.png"); }
    .map_container .map .tooltip_hidden {
      visibility: hidden; }
    .map_container .map .tooltip_visible {
      display: none; }
  .map_container .description {
    width: 100%;
    height: 40vh;
    background-image: url("../images/vintage-concrete.png");
    background-position: center;
    padding: 10px 15px 10px 15px;
    border: 1px black solid;
    text-align: justify;
    margin-bottom: 15px;
    overflow-y: auto; }
    .map_container .description h1 {
      font-size: 1.2rem;
      margin-bottom: 0.3rem; }
    .map_container .description h3 {
      margin-bottom: 0.4rem;
      font-size: 0.8rem; }
    .map_container .description span, .map_container .description .note {
      font-size: 0.9rem;
      font-family: "Indie Flower", cursive; }
    .map_container .description .note_btn {
      font-size: 0.8rem;
      height: 1.2rem;
      width: 6rem;
      border: 1px black solid;
      margin-top: 0.6rem;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      margin-right: 1rem; }
  .map_container .form {
    width: 100%; }

@media only screen and (min-width: 620px) and (max-width: 1200px) {
  .map_container .description h1 {
    font-size: 1.5rem; }
  .map_container .description h3 {
    font-size: 0.9rem; }
  .map_container .description span, .map_container .description .note {
    font-size: 1.1rem; }
  .map_container .description .note_btn {
    font-size: 0.9rem;
    height: 1.3rem;
    width: 7rem; } }

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .search {
    width: 40%; }
  .map_container {
    justify-content: space-between; }
    .map_container .map {
      width: 60%; }
    .map_container .description {
      width: 38%;
      height: 50vh; }
    .map_container .form {
      width: 50%; } }

@media only screen and (min-width: 1201px) {
  .search {
    width: 30%; }
  .map_container {
    justify-content: left;
    align-items: left;
    flex-wrap: wrap; }
    .map_container .map {
      width: 60%; }
      .map_container .map .tooltip_visible {
        display: block;
        visibility: visible;
        position: relative;
        top: -70px;
        left: -62px;
        font-size: 14px;
        background-color: black;
        color: white;
        height: 20px;
        width: 125px;
        padding: 3px;
        border-radius: 5px;
        text-align: center;
        z-index: 10;
        opacity: 0.85; }
    .map_container .description {
      width: 30%;
      height: 50vh;
      margin-left: 5%; }
      .map_container .description h1 {
        font-size: 1.8rem; }
      .map_container .description h3 {
        font-size: 1.1rem; }
      .map_container .description span, .map_container .description .note {
        font-size: 1.1rem; }
      .map_container .description .note_btn {
        font-size: 1rem;
        height: 1.4rem;
        width: 8rem; }
    .map_container .form {
      width: 40%; } }

p {
  text-indent: 30px;
  text-align: justify;
  font-size: 0.8rem; }

@media only screen and (min-width: 481px) {
  p {
    font-size: 1rem; } }

form input, form .select {
  height: 1.8rem;
  width: 55%;
  margin-bottom: 0.5rem;
  line-height: 1.8rem;
  font-size: 0.8rem; }
  form input:focus, form .select:focus {
    outline: 0; }

form input {
  border-radius: 5px;
  padding-left: 10px;
  font-family: "Lato", sans-serif; }

form input[type='submit'] {
  background-color: #e3e6ec;
  color: #0f498c;
  font-size: 0.9rem;
  width: 40%;
  padding: 0;
  cursor: pointer;
  border-radius: 6px;
  border-style: solid;
  margin-top: 0.5rem;
  text-transform: uppercase; }
  form input[type='submit']:hover {
    background-color: white; }

form textarea {
  width: 80%;
  height: 5.5rem;
  font-family: "Lato", sans-serif;
  padding-left: 10px;
  font-size: 0.8rem;
  border-radius: 5px; }
  form textarea:focus {
    outline: 0; }

form .error_message {
  color: rgba(240, 55, 30, 0.84);
  font-weight: bold; }

form .info_message {
  color: black;
  font-weight: bold; }

form h3 {
  font-size: 0.9rem;
  line-height: 1.8rem; }

@media only screen and (min-width: 481px) and (max-width: 1200px) {
  form h3 {
    font-size: 1rem;
    line-height: 2rem; }
  form input, form .select {
    width: 80%; }
  form input[type='submit'] {
    width: 55%; } }

@media only screen and (min-width: 1201px) {
  form h3 {
    font-size: 1.1rem;
    line-height: 2.2rem; }
  form input, form .select {
    width: 80%; }
  form input[type='submit'] {
    width: 55%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * body {
    background-color: #4994eb;
    font-family: "Lato", sans-serif; }
    * body .container {
      max-width: 1280px;
      margin: auto;
      padding-left: 10px;
      padding-right: 10px; }
      * body .container h1 {
        font-family: "Indie Flower", cursive;
        margin-bottom: 10px;
        font-size: 1.2rem; }

@media only screen and (min-width: 481px) and (max-width: 1200px) {
  body .container h1 {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1201px) {
  body .container h1 {
    font-size: 1.7rem; } }
