@import "partials/colors";
@import "partials/fonts";

@import "modules/menu";
@import "modules/map_container";
@import "modules/about";
@import "modules/form";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	body {
		background-color: $backgroundColor;
		font-family: $mainFont;
		.container {
			max-width: 1280px;
			margin: auto;
			padding-left: 10px;
			padding-right: 10px;
			h1 {
				font-family: "Indie Flower", cursive;
				margin-bottom: 10px;
				font-size: 1.4rem;
			}
		}
	}
}


@media only screen and (min-width: 481px) and (max-width: 1200px) {
	body{
		.container {
			h1 {
				font-size: 1.7rem;
			}
		}
	}

}

@media only screen and (min-width: 1201px){
	body{
		.container {
			h1 {
				font-size: 1.9rem;
			}
		}
	}
}
