@font-face {
  font-family: 'Lato';
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Indie Flower';
  src: local("Indie Flower"), local("IndieFlower"), url("../fonts/IndieFlower.woff2") format("woff2"), url("../fonts/IndieFlower.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

header {
  background: url("../images/background-menu.jpg") no-repeat;
  background-position: center left;
  background-size: cover;
  width: 100vw;
  height: 45vh;
  margin-bottom: 20px; }
  header li {
    display: inline-block;
    width: 12rem;
    height: 50px;
    position: relative;
    top: 15px; }
    header li .link {
      font-size: 1.4rem;
      text-decoration: none;
      font-family: "Indie Flower", cursive;
      font-weight: bolder;
      color: black; }
      header li .link:hover {
        color: #a8bf23; }
    header li .active_link {
      color: #a8bf23; }
    header li .sign__link--rectangle {
      width: 7rem;
      height: 4rem;
      background-color: #e3e6ec;
      position: absolute;
      padding-left: 5px; }
    header li .sign__link--triangle {
      width: 0;
      height: 0;
      border-top: 2rem solid transparent;
      border-bottom: 2rem solid transparent;
      position: absolute;
      border-left: 3rem solid #e3e6ec;
      left: 7rem; }

.map_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .map_container .map {
    height: 40vh;
    width: 100%; }
    .map_container .map .mount_icon {
      position: relative;
      left: -12px;
      top: -12px;
      cursor: pointer;
      width: 32px;
      height: 32px;
      background-image: url("../images/mountain-red.png");
      border: hidden; }
      .map_container .map .mount_icon:hover {
        background-image: url("../images/mountain-green.png"); }
  .map_container .description {
    width: 100%; }
    .map_container .description h1 {
      margin-bottom: 0; }
    .map_container .description h3 {
      margin-bottom: 0.5rem; }
    .map_container .description span {
      font-size: 1.1rem; }

@media only screen and (min-width: 620px) {
  .map_container .map {
    width: 60%; }
  .map_container .description {
    width: 38%; } }

p {
  text-indent: 30px;
  text-align: justify;
  font-size: 1.1rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * body {
    background-color: #4994eb;
    font-family: "Lato", sans-serif; }
    * body .container {
      max-width: 1280px;
      margin: auto;
      padding-left: 10px;
      padding-right: 10px; }
      * body .container h1 {
        font-family: "Indie Flower", cursive;
        margin-bottom: 10px;
        font-size: 2.5rem; }
