@import "partials/colors";
@import "partials/fonts";

@import "modules/menu";
@import "modules/map_container";
@import "modules/about";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	body {
		background-color: $backgroundColor;
		font-family: $mainFont;
		.container {
			max-width: 1280px;
			margin: auto;
			padding-left: 10px;
			padding-right: 10px;
			h1 {
				font-family: "Indie Flower", cursive;
				margin-bottom: 10px;
				font-size: 2.5rem;
			}
		}
	}
}



